body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  font-size: 50px;
}
textarea {
  width: 600px;
  height: 400px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#btn {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  float: right;
  margin-right: 60px;
}

p {
  font-size: 18px;
  margin-left: 40px;
}

img {
  width: 80px;
  height: 80px;
  padding-left: 90px;
}
